* { box-sizing:border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; outline: 0 none; background-clip: padding-box; font-smoothing: antialiased; text-rendering: optimizeLegibility; /*-webkit-appearance: none; -moz-appearance: none;*/ }

*:before,
*:after { box-sizing:border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

*::-moz-selection { color: #ffffff; background: none repeat scroll 0 0 #bfdeea; }

::-webkit-input-placeholder {
	font: 400 14px/24px -apple-system,".SFNSText-Regular","Helvetica Neue","Roboto","Segoe UI",sans-serif;
	color:    #757575;
}
:-moz-placeholder {
	font: 400 14px/24px -apple-system,".SFNSText-Regular","Helvetica Neue","Roboto","Segoe UI",sans-serif;
	color:    #757575;
	opacity:  1;
}
::-moz-placeholder {
	font: 400 14px/24px -apple-system,".SFNSText-Regular","Helvetica Neue","Roboto","Segoe UI",sans-serif;
	color:    #757575;
	opacity:  1;
}
:-ms-input-placeholder {
	font: 400 14px/24px -apple-system,".SFNSText-Regular","Helvetica Neue","Roboto","Segoe UI",sans-serif;
	color:    #757575;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
	background-color: #fff !important;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
	color: #515151 !important;
}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com (ol, ul és li kivettem @norbertgoltl)
***************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* CLEARFIX ***************************/
.cf:after{ content:" "; display:table; }
.cf:after{ clear:both; }
html.ie8 .cf{ zoom:1; }
.clear { clear:both; }

/*** Custom ***/
html { font-size: 8px; -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */ }

/*body { font: 400 14px/24px -apple-system,".SFNSText-Regular","Helvetica Neue","Roboto","Segoe UI",sans-serif; color: rgba(0,0,0,0.8); overflow-x: hidden; -webkit-overflow-scrolling: touch; }*/
body { font: 400 14px/24px 'Open Sans', sans-serif;
	color: #212121; overflow-x: hidden; -webkit-overflow-scrolling: touch; }

body {
	/*background-image: url('../img/milk-color.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;*/
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
}

.site-container {}



.layoutSingleColumn {
	max-width: 700px;
	margin: 0 auto;
}

@media (max-width: 767px) {
	.layoutSingleColumn {
		margin-left: 20px;
		margin-right: 20px;
	}
}

.layoutFillWidth {
	margin-top: 80px;
	margin-bottom: 80px;
}




/*** Base ***/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	/*font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	/*font-weight: 500;*/
	line-height: 1.5;
	text-rendering: optimizelegibility;
}

h1, h2, h3, h4 {
	/*font-family: -apple-system,".SFNSDisplay-Bold","Helvetica Neue","Roboto","Segoe UI",sans-serif;
	letter-spacing: 0;
	font-weight: 700;
	font-style: normal;*/
}



a {
	text-decoration: none;
	color: #4ec0e4;
}

p {}

b,
strong,
.strong {
	font-weight: 700;
}

em,
dfn,
.dfn {
	font-style: italic;
}

/*** Blockquote ***/
.lp--pullquote {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-weight: 200;
	font-style: italic;
	font-size: 28px;
	line-height: 1.48;
	letter-spacing: -0.014em;
	color: rgba(0,0,0,0.35);
	border: none;
	padding: 0;
	padding-left: 50px;
	text-align: left;
}

.lp--pullquote.lp-after--p {
	margin-top: 55px;
}







.lp-after--h2 {
	margin-top: 44px;
}

.lp--p {
	margin-top: 29px;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 21px;
	line-height: 1.58;
	letter-spacing: -0.003em;
}

.lp--p.lp-after--pullquote {
	margin-top: 54px;
}




.lp--p.lp-after--p {
	margin-top: 29px;
}








.lp--list.lp-after--p {
	margin-top: 29px;
}






/*** Button, Input, Select, Textarea ***/
button,
input,
select,
textarea {
	padding: 8px;
	width: 100%;
	font: 400 14px/24px 'Open Sans', sans-serif;
	color: #616161;
	/*background-color: rgba(0, 0, 0, .3);*/
	background-color: #dbdbdb;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

input[type="text"],
input[type="email"] {
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
	background-color: #fff;
	box-shadow: 0 0 1px 0 #0082d5, inset 0 0 0 1px #0082d5;
}

/*** Button ***/
.btn-cart {
	font-weight: inherit !important;
	text-transform: uppercase;
	color: #fff;
	background-color: #7ac143;
}

/*** Form ***/
.field-container input {
	/*display: inline-block;
	width: auto;*/
}

/*** Image ***/
.progressive-image {
	display: block;
	width: 100%;
	height: 100%;
}

/*** Display ***/
.hide {
	display: none;
}

.show,
.display--block {
	display: block;
}

.display--inline {
	display: inline-block;
}

/*** FLOAT ***/
.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}

/*** MARGIN ***/
.m {
	margin: 4rem;
}
.m-top {
	margin-top: 4rem;
}
.m-right {
	margin-right: 4rem;
}
.m-bottom {
	margin-bottom: 4rem;
}
.m-left {
	margin-left: 4rem;
}
.m-top--large {
	margin-top: 6rem;
}
.m-right--large {
	margin-right: 6rem;
}
.m-bottom--large {
	margin-bottom: 6rem;
}
.m-left--large {
	margin-left: 6rem;
}
.m-top--small {
	margin-top: 2rem;
}
.m-right--small {
	margin-right: 2rem;
}
.m-bottom--small {
	margin-bottom: 2rem;
}
.m-left--small {
	margin-left: 2rem;
}
.m-top--tiny {
	margin-top: 1rem;
}
.m-right--tiny {
	margin-right: 1rem;
}
.m-bottom--tiny {
	margin-bottom: 1rem;
}
.m-left--tiny {
	margin-left: 1rem;
}

.m-center {
	margin: 0 auto;
}

.m-top--none {
	margin-top: 0;
}
.m--none {
	margin: 0;
}

/*** Gutter ***/
.gutter {
	padding-right: 4rem;
	padding-left: 4rem;
}

.large-gutter {
	padding-right: 6rem;
	padding-left: 6rem;
}


.small-gutter {
	padding-right: 2rem;
	padding-left: 2rem;
}

.tiny-gutter {
	padding-right: 1rem;
	padding-left: 1rem;
}

/*** PADDING ***/
.p {
	padding: 4rem;
}

.p-top {
	padding-top: 4rem;
}

.p-right {
	padding-right: 4rem;
}

.p-bottom {
	padding-bottom: 4rem;
}

.p-left {
	padding-left: 4rem;
}

.p--tiny {
	padding: 1rem;
}

.p-top--tiny {
	padding-top: 1rem;
}

.p-right--tiny {
	padding-right: 1rem;
}

.p-bottom--tiny {
	padding-bottom: 1rem;
}

.p-left--tiny {
	padding-left: 1rem;
}

.p--small {
	padding: 2rem;
}

.p-top--small {
	padding-top: 2rem;
}

.p-right--small {
	padding-right: 2rem;
}

.p-bottom--small {
	padding-bottom: 2rem;
}

.p-left--small {
	padding-left: 2rem;
}

.p-top--large {
	padding-top: 6rem;
}

.p-right--large {
	padding-right: 6rem;
}

.p-bottom--large {
	padding-bottom: 6rem;
}

.p-left--large {
	padding-left: 6rem;
}

.p--none {
	padding: 0;
}

/*** Text ***/
.text-size--normal {
	font-size: 1.75rem;
}

.text-size--tiny {
	font-size: 1.25rem;
}

.text-size--small {
	font-size: 1.5rem;
}

.text-size--large {
	font-size: 2.75rem;
}

.text-brand--black__900 {
	color: #212121;
}

.text-brand--black__800 {
	color: #424242;
}

.text-brand--black__700 {
	color: #616161;
}

.text-brand--black__600 {
	color: #757575
}

.text-brand--black__500 {
	color: #9e9e9e;
}

.text-brand--black__400 {
	color: #bdbdbd;
}

.text-brand--black__300,
.breadcrumbs .fa {
	color: #e0e0e0;
}

.text-brand--black__200 {
	color: #eee;
}

.text-brand--black__100 {
	color: #f5f5f5;
}

.text-brand--black__50 {
	color: #fafafa;
}

.text-brand--light {
	color: #fff;
}

.text-align--center {
	text-align: center;
}

.text-align--right {
	text-align: right;
}






.bg-brand--black__900 {
	background-color: #212121;
}

.bg-brand--black__800 {
	background-color: #424242;
}

.bg-brand--black__700 {
	background-color: #616161;
}

.bg-brand--black__600 {
	background-color: #757575
}

.bg-brand--black__500 {
	background-color: #9e9e9e;
}

.bg-brand--black__400 {
	background-color: #bdbdbd;
}

.bg-brand--black__300 {
	background-color: #e0e0e0;
}

.bg-brand--black__200 {
	background-color: #eee;
}

.bg-brand--black__100 {
	background-color: #f5f5f5;
}

.bg-brand--black__50 {
	background-color: #fafafa;
}

.bg-brand--pure {
	background-color: #fff;
}

/*** List ***/
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}